.breakfast .img img {
    display: block;
    margin: 5px;
    border: 1px solid #ffffff;
    margin: auto;
}
.breakfast .img {
    margin: 5px;
    padding: 5px;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
}
.desc {
    text-align: center;
    font-weight: normal;
    margin: 5px;
}
.breakfast {
  display:inline;
}
