.title h1 {
  text-align:center;
  top:10px;
}
.nav a {
  font-family: 'Lato';
  font-size: 18px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}
.navigation {
    display:flex;
    justify-content:space-around;
    flex-wrap:nowrap;
}

.maps {
  display:flex;
  justify-content:space-around;
  flex-wrap:nowrap;
}
.body {
  background-color:#ffffff;
}
