.title h1 {
  text-align:center;
  top:10px;
}
.nav a {
  font-family: 'Lato';
  font-size: 18px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}
.navigation {
    display:flex;
    justify-content:space-around;
    flex-wrap:nowrap;
}

.maps {
  display:flex;
  justify-content:space-around;
  flex-wrap:nowrap;
}
.update h3 {
  font-size:10px;
  left-margin:10px;
}

.fphoto {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}
.fphoto img {
    width: 100px;
    height: 100px;
    background-color: grey;
}
.fphoto caption {
    display: block;
}
