.title h1 {
  text-align:center;
  top:10px;
}
.nav a {
  font-family: 'Lato';
  color: #5a5a5a;
  font-size: 18px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}
.home {
  float:left;
}
.aboutme {
  float:right;
}
