.meal .img img {
    display: block;
    margin: 5px;
    border: 1px solid #ffffff;
}
.meal .img {
    margin: 5px;
    padding: 5px;
    height: auto;
    width:auto;
    float: left;
    text-align: center;
}

.meal h2 {
    color:#FFFFFF;
    text-align: left;
}
.meal {
  padding-top: 10px;
}




.desc {
    text-align: center;
    font-weight: normal;
    margin: 5px;
    color:#FFFFFF;
}
