.breakfast .img img {
    display: block;
    margin: 5px;
    border: 1px solid #ffffff;
}
.breakfast .img {
    margin: 5px;
    padding: 5px;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
}
.breakfast {
  display:inline;
  float:none;
  margin: 0 auto;
  margin-left: auto;
  margin-right:auto;
  vertical-align: middle;
}
.breakfast h2 {
    color:#FFFFFF;
    text-align: left;
}


.desc {
    text-align: center;
    font-weight: normal;
    margin: 5px;
    color:#FFFFFF;
}


.lunch .img img {
    display: block;
    margin: 5px;
    border: 1px solid #ffffff;
    margin: auto;
}
.lunch .img {
    margin: 5px;
    padding: 5px;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
}
.lunch h2 {
    color:#FFFFFF;
}
